.jumbotron {
    background-color: teal;
    color: white;
}

body {
    background-color: black;
}

.panel-heading {
    background-color: blue;
}

.panel>.panel-heading {
    background-image: none;
    background-color: #ddd;
    color: grey;
}